@import 'https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css';

// App.js tyylit

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.navstyles {
  color: rgb(119, 119, 119);
}

#pagetop {

  position: fixed;
  bottom: 0;
  right: 0;

}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 10px;
  margin-inline-end: 0;
}



#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}

.view {

  width: 50%;
  margin-left: auto;
  margin-right: auto;



  &.chat {
    flex-direction: column;

    header {
      position: relative;
      display: block;
      width: 100%;
      padding: 50px 30px 10px;

      .logout {
        position: absolute;
        top: 15px;
        right: 15px;
        appearance: none;
        border: none;
        outline: none;
        background: none;

        color: #FFF;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: right;
      }

      h1 {
        color: #FFF;
      }
    }

  }
}

// Sliderbar tyylit




.user {

  margin-left: auto;
  display: flex;

  button {

    background-color: #41B883;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;

  }

  button:hover {
    background-color: black;
  }

  p {

    margin-right: 20px;
    padding: 10px;
    margin-bottom: 0 !important;

  }

}


#sliderbar {
  min-height: 65px;
}


#log {

  position: fixed;
  right: 0;
  text-align: right;
  top: 0;

}

nav {
  height: 60px;
  width: 100%;
  box-shadow: 2px 2px 2px #CCC;
  position: fixed;
  z-index: 1;
  background-color: white;

  ul {
    background-color: white;
    display: flex;
    height: 100%;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    box-shadow: 2px 2px 2px #CCC;
    figure {
      cursor: pointer;
      margin: 0 !important;
    }
    a {
      text-decoration: none;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    i {
      margin-right: 10px;
      font-size: 22px;
    }
    li {
      list-style-type: none;
      padding: 10px 20px;


    }

    li:hover {

      background-color: #DDD;

    }

  }
}
@media screen and (max-width: 900px) {

  .user {
    position: fixed;
    right: 0;
    top: 0;
  }


  #log {
    width: 30%;
  }

  nav {
    ul {
      position: fixed;
      width: 300px;
      flex-direction: column;
      left: -240px;
      transition: 300ms ease all;
      top: 60px;
      &.active {
        left: 0px;
      }
      figure {
        position: fixed;
        z-index: 1;
        top: 10px;
        left: 2px;
      }
      li {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      a {
        flex-direction: row;
        margin-left: 20px;
        justify-content: space-between;
        margin-right: 13px;
      }
    }
  }
}

// Scroll To Top Button

.container {
  width: 500px;
  margin: auto;
  text-align: center;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  background: #41B883;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: black;
}

/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* PrivateChat Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: #002766;
}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  background-image: linear-gradient(#41B883, #41B883);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.facebook {
  background-color: #3b5998;
}

.google {
  background-color: #4285f4;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}